--extra-index-url https://packages.dea.ga.gov.au/

pyyaml==5.3.1
wget
requests
datacube
odc-ui
odc-index
odc-geom
odc-algo
odc-dtools

# Jupyter components.
gdal
scipy
jupyter==1.0.0
jupyterlab==2.2.6
ipyleaflet==0.13.0
folium
pandas==1.0.5
xarray==0.16.0
matplotlib==3.2.1
geopandas
scikit-image
tqdm